body {
    color: #CACACA;
    font-family: 'Consolas';
    overflow: auto;
}

.firstcontainer {
    background-color: #252526;
    padding: 5%;
}

.secondcontainer {
    background-color: #2D2D30;
    padding: 5%
    
}

.codingblock {
    background-color: #1E1E1E;
}

.datatype {
    color: #436886;
    display: inline;
}

.variablename {
    display: inline;
}

.skills {
    margin-bottom: 10%;
    margin-top: 5%;
}

.enumlist {
    list-style-type: none;
    margin-bottom: 0px;
}
.codecomment {
    color: #518648;
}


/* Typing animation */

.typinganim h1 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    animation: 
    typing 3.5s steps(40, end),
    cursor .75s step-end infinite;
}

@keyframes typing {
    from {width: 0}
    to {width: 100%}
}

@keyframes cursor {
    from, to {border-color: transparent} 
    50% {border-color: green;}
}