body {
    color: #CACACA;
    font-family: 'Consolas';
    overflow: auto;
}

.firstcontainer {
    background-color: #252526;
    padding: 5%;
}

.secondcontainer {
    background-color: #2D2D30;
    padding: 5%
    
}

.codingblock {
    background-color: #1E1E1E;
}

.datatype {
    color: #569cd6;
    display: inline;
}

.variablename {
    display: inline;
}

.variablename a {
    color: #D69D85
}

.skills {
    margin-bottom: 10%;
    margin-top: 5%;
}

.contactlist {
    margin-top: 5%;
    margin-bottom: 10%;
}

.project {
    margin-top: 2%;
    background-color: #1E1E1E;
}

h3.project {
    padding: 2%;
}

p.project {
    padding: 2%;
}

.btn:hover {
    border: 1px inset #569cd6;
    color: #5ca4e0;
}

.aboutme {
    padding-top: 5%;
}

a.btn {
    color: #569cd6;
}

.project video {
    margin: 2%;
    width: 85%;
    height: auto;
}

.project img {
    width: 100%;
    height: auto;
}

.list {
    list-style-type: none;
    margin-bottom: 0px;
}

.list li {
    word-wrap: break-word;
}

.contactlist ul {
    padding: 0;
}
.codecomment {
    color: #518648;
}


/* Typing animation */

.typinganim h1 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    animation: 
    typing 3.5s steps(40, end),
    cursor .75s step-end infinite;
}

@keyframes typing {
    from {width: 0}
    to {width: 100%}
}

@keyframes cursor {
    from, to {border-color: transparent} 
    50% {border-color: green;}
}
